/* COLOR LEGEND */
/* Blue:        #202C5E */
/* Dark Blue:   #121834 */
/* Darker Blue: #0B0F20 */
/* Light Blue:  #C2CDFF */


body {
  background-color: #121834;
  color: #C2CDFF;
  font-family: 'Roboto Condensed', sans-serif;
}

hr {
  border-color: #202C5E;
}

.stats-bar {
  background-color: rgba(32, 44, 94, 0.9);;
  padding: 30px 0 25px 0;
  position: fixed;
  width: 100%;
  z-index: 11;
  top: 0;
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);
}

.stats-bar h1 {
  line-height: 0.7;
}

.stats-bar span {
  color: white;
  text-transform: uppercase;
}

.section {
  border-left: 10px solid;
  border-bottom: 1px solid;
  padding: 10px 10px 10px 10px;
  border-color: #202C5E;
  background-color: rgba(32, 44, 94, 0.15);
  margin-bottom: 20px;
}

.section h5 {
  text-transform: uppercase;
}

footer {
  background-color: #0B0F20;
  padding: 30px 0;
  color: #202C5E;
  font-size: 12px;
}

input.form-control, input.form-control:focus {
  background-color: #0B0F20;
  border-color: #121834;
  color: #C2CDFF;
}

.input-group-text {
  background-color: #202C5E;
  color: #C2CDFF;
  border: none;
}
